<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Research Bot</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content >
  <div>
    <div *ngFor="let message of messages" class="message" 
      [ngClass]="(message.isResponse) ? 'response' : ''">
        <span>{{message.text}} </span> 
      
    </div>
    <ion-spinner icon="dots" *ngIf="isLoading"></ion-spinner>
  </div> 
  <!--ion-scroll scrollX="true" style="width: 100%; "-->
   <button *ngFor="let option of options" ion-button color="secondary" round outline>
     {{option.text}}
   </button>
  <!--/ion-scroll -->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item style="padding-left:4px;">
    <ion-input type="text" placeholder="Ask a Question" 
      (keypress)="keyEventHandler($event.keyCode)"
      on-return="sendMessage(); closeKeyboard()" 
      [(ngModel)]="userInput"
      xon-focus="inputUp()" xon-blur="inputDown()" >
    </ion-input>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-right color="royal" (click)='sendMessage();'>
        
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-footer>
